@using PagedList.Mvc;
@model PagedList.IPagedList<QuanLyXe.Models.SANPHAM>
@{
    ViewBag.Title = "Quản lý xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Quản lý xe</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>Mã Xe</th>
                        <th>Tên Xe</th>
                        <th>Ảnh</th>
                        <th>Giá thuê</th>
                        <th>Mô tả Sản phẩm</th>
                        <th>Hãng xe</th>
                        <th>Loại Xe</th>
                        <th>Khu vực</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.maSP</td>
                                <td>@item.tenSP</td>
                                <td><img style="height: 125px;width: 125px;" src="@Url.Content("~/img/"+ item.image)" /></td>
                                <td>@item.giathue</td>
                                <td>@item.mota</td>
                                <td>@item.hangxe</td>
                                <td>@item.LOAISANPHAM.tenloaiSP</td>
                                <td>@item.KHUVUC.tenkv</td>
                                <td>
                                    <a href="/Admin/Chitietxe/@item.maSP"><i class="fa fa-list-alt" style="font-size:30px;"></i></a>
                                </td>
                                <td>
                                    <a href="/Admin/Xacnhanxoa/@item.maSP"><i class="fa fa-trash-alt" style="font-size:30px;"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="Menutrang">
    @Html.PagedListPager(Model, page => Url.Action("QLXe", new { page }))
</div>

