
@model QuanLyXe.Models.SANPHAM

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_LayoutChothue.cshtml";
}

<style>

    label {
        font-size: 17px;
        font-weight: bold;
    }
</style>
<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Chi tiết xe</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label>Ảnh bìa:</label>
                                    <img style=" margin-left: 150px; height: 250px; width: 250px;" src="@Url.Content("~/img/"+ Model.image)" />
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label>Tên xe:</label>
                                    @Model.tenSP
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label>Mô tả:</label>
                                    @Html.Raw(Model.mota)
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Giá thuê:</label>
                                    @Model.giathue
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Hãng xe:</label>
                                    @Model.hangxe
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Mã Khung:</label>
                                    @Model.khungxe
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Màu sắc:</label>
                                    @Model.mausac
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Phân khối:</label>
                                    @Model.phankhoi
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Biển số:</label>
                                    @Model.bienso
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label>Địa chỉ cụ thể:</label>
                                    @Model.diachi
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Loại xe:</label>
                                    @Model.LOAISANPHAM.tenloaiSP
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <a class="btn btn-success" href="~/Chothue/QLChothue"><i class="fa fa-caret-left" style="font-size:15px;"></i> Quay lại</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

