@using QuanLyXe.Models;
@model List<Giohang>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        @if (Model.Count() > 0)
        {
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-page-inner">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Biển số</th>
                                        <th>Giá tiền</th>
                                        <th>Tổng tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="~/img/@item.simage" alt="Image"></a>
                                                    <p>@item.stenSP</p>
                                                </div>
                                            </td>
                                            <td>@item.smausac</td>
                                            <td>@item.sbienso</td>
                                            <td>@String.Format("{0:0,0}", item.dDongia)</td>
                                            @using (Html.BeginForm("Capnhatgiohang", "Giohang", new { @imaSP = item.imaSP }))
                                            {
                                                @*<td>
                                                    <div class="qty">
                                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                        <input type="text" name="inputSL" value="@item.iSoluong">
                                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>*@
                                                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
                                            }
                                            <td>@Html.ActionLink("Xóa", "XoaGiohang", new { @imaSP = item.imaSP })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <h1>Tóm tắt thuê xe</h1>
                                        <p>Số lượng xe thuê :<span>@ViewBag.Tongsoluong</span></p>
                                        <p>Trả trước<span>VNĐ</span></p>
                                        <h2>Thành tiền<span>@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</span></h2>
                                    </div>
                                    <style>
                                        .DH, .DH:hover {
                                            color: white;
                                        }
                                    </style>
                                    <div class="cart-btn">
                                        <button>@Html.ActionLink("Trở về Trang chủ", "index", "ThueXe")</button>
                                        <button>@Html.ActionLink("Xác nhận Thuê", "DatHang", "GioHang", null, new { @class = "DH" })</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="table-responsive" style="text-align: center;">
                <span class="alert alert-danger">Hiện tại chưa có sản phẩm nào trong Giỏ Hàng!</span>
            </div>
        }

    </div>
    </div>
    <!-- Cart End -->

